body {
    font-family: sans-serif;
    text-align: center;
}

#game-board {
    display: grid;
    grid-gap: 10px;
    margin: 20px auto;
    
}

.card {
    background-color: #ccc;
    border: 1px solid #999;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    /* デフォルトでは裏面の画像を表示 */
    background-image: url("images/card_back.png"); 
    transition: background-image 0.3s ease; /* スムーズな切り替えのため */
}

.card.flipped {
    /* フリップ時のスタイルはjavascriptで指定 */
    
}

.card.matched {
    opacity: 0.5;
}

#message-area {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

#restart-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

/* メディアクエリ: 画面幅が 600px 以下の場合（スマホなどのモバイルデバイス）に適用 */
@media (max-width: 600px) {
    #game-board {
        grid-template-columns: repeat(2, 100px); /* 2列で配置 */
        width: 220px; /*幅を調整*/
    }
    .card {
        width: 100px; /* カードの幅 */
        height: 150px; /* カードの高さ */
    }
}
/* メディアクエリ: 画面幅が 601px以上の場合（PCなど）に適用 */
@media (min-width: 601px) {
    #game-board {
        grid-template-columns: repeat(4, 100px); /* 4列で配置 */
        width: 430px; /*幅を調整*/
    }
    .card {
        width: 100px; /* カードの幅 */
        height: 150px; /* カードの高さ */
    }
}
